{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":4,"column":11},"end":{"row":4,"column":12},"action":"remove","lines":["y"],"id":2},{"start":{"row":4,"column":10},"end":{"row":4,"column":11},"action":"remove","lines":["p"]},{"start":{"row":4,"column":9},"end":{"row":4,"column":10},"action":"remove","lines":["."]},{"start":{"row":4,"column":8},"end":{"row":4,"column":9},"action":"remove","lines":["v"]},{"start":{"row":4,"column":7},"end":{"row":4,"column":8},"action":"remove","lines":["n"]},{"start":{"row":4,"column":6},"end":{"row":4,"column":7},"action":"remove","lines":["e"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":0},"end":{"row":5,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1563805080437,"hash":"8b3610a0838b15be2fb400301a33a1a9bf99d4ce"}