{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}

<div class="row row-flex">
    {% for item in cart_items %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/profile.jpg" class="img-circle">
            </a>
        </div>
        <div class="col-md-10 col-sm-9">
            <h3>{{ item.post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p><span class="boldtext">Published:</span> {{ item.post.published_date }}, <span class="boldtext">Upvotes:</span> {{ item.post.upvotes }}, <span class="boldtext">Category:</span> {{ post.category }}</p>
                    <p>{{ item.post.content|truncatewords:30 }}</p>
                    <p><span class="boldtext">Type:</span> {{ item.post.type }}, <span class="boldtext">Status:</span> {{ item.post.status }}</p>
                    <p>
                        <form class="form-inline" method="post" action={% url 'adjust_cart' item.id %}>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Qty</div>
                                    <input name="quantity" type="number" min="0" max="999" class="form-control">
                                    <div class="input-group-addon">{{item.quantity}}</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-edit" aria-hidden="true">Amend</span></button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </div>

    {% endfor %}

    <div class="row">
        <p>Total</p>
        <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>
 </div>
 
{% endblock %}
